$padding: 6px;

body {
  html {
    height: 100%;
    }  
}

nav {
  ul {
    margin: 0;
    padding: $padding;
    list-style: none;
  }

  li { display: inline-block; }

  a {
    display: block;
    padding: $padding 12px;
    text-decoration: none;
  }
}

.inspectingcodeisfun {
  display: none;
  text-align: center;
}

.nameisasyouwant{
  text-align: center;
  display: none;
}


.counter{
  h1{
  font-size: 1.2rem;
    }
  text-align: center;
  display: none;

}



